li {
  list-style-type: none;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.app-container {  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  .body-container {
    display: flex;
  }
}